{% extends 'base/base.html' %}
{% load static %}

{% block content %} 
        <!-- BEGIN #checkout-cart -->
        <div class="section-container" id="checkout-cart">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN checkout -->
                <div class="checkout">
                    {% comment %} <form action="checkout_info.html" method="POST" name="form_checkout"> {% endcomment %}
                       {% include "base/checkoutheader.html" %}
                        <!-- BEGIN checkout-body -->
                        <div class="checkout-body">
                            <div class="table-responsive">
                                <table class="table table-cart">
                                    
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Remove from cart</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in item %}
                                        <tr>
                                            <td class="cart-product">
                                                <div class="product-img">
                                                    <img src="{{item.productid.product_image.url}}" alt="" />
                                                
                                                </div>
                                                <div class="product-info">
                                                    <div class="title">{{item.productid.titleproduct}}</div>
                                                    <div class="desc">Delivers Tue 26/04/2016 - Free</div>
                                                </div>
                                            </td>
                                            <td><form action="{% url 'deletefromcart' item.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                                </form>
                                            </td>
                                            <td class="cart-price text-center">{{item.productid.discounted_price}}
                                            </td>
                                            <td class="cart-qty text-center">
                                                <div class="cart-qty-input">
                                                    <a href="{% url 'removefromcart' item.productid %}"><i class="fa fa-minus m-10"></i></a>
                                                    {% comment %} <input type="text" name="qty" value={{item.quantity}} class="form-control" id="qty" /> {% endcomment %}
                                                    {{item.quantity}}
                                                    <a href="{% url 'addtocart' item.productid %}"> <i class="fa fa-plus m-10"></i></a>
                                                </div>
                                                <div class="qty-desc">1 to max order</div>
                                            </td>
                                            <td class="cart-total text-center">
                                                {{item.total_pric}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="cart-summary" colspan="6">
                                                <div class="summary-container">
                                                    <div class="summary-row">
                                                        <div class="field">Cart Subtotal</div>
                                                        <div class="value">{{total_price}}</div>
                                                    </div>
                                                    <div class="summary-row text-danger">
                                                        <div class="field">Shipping</div>
                                                        <div class="value">100</div>
                                                    </div>
                                                    <div class="summary-row total">
                                                        <div class="field">Total</div>
                                                        <div class="value">{{total_with_shipping}}</div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    {% comment %} </form> {% endcomment %}
                        <!-- END checkout-body -->
                        <!-- BEGIN checkout-footer -->
                        <div class="checkout-footer">
                            <a href="{% url 'index' %}" class="btn btn-white btn-lg pull-left">Continue Shopping</a>
                            {% comment %} <button type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Checkout</button> {% endcomment %}
                            <div class="checkout">
                                <form action={% url 'checkoutinfo' %} method="POST">
                                    {% csrf_token %}
                                    <button type="submit" id="checkout-button" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Checkout</button>
                                  </form>
                        </div>
                        <!-- END checkout-footer -->
                    
                </div>
                <!-- END checkout -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #checkout-cart -->

    
       
{% endblock content %}